/* utility classes */
.center-element{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.white-60{
  color: #ebe9e9;
}

.position-sideways{
  position: relative;
}
.pointer {
  cursor: pointer;
}
.position-sideways i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
}

/* styles */
.todoItem{
  width: min(500px, 100%);
  border-radius: .75rem;
}
.disable-nav{
  text-decoration: line-through 1.5px #09ffa1;
  cursor: not-allowed;
}