@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');

:root {
  font-family: 'Kalam', cursive,  Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body{
  font-family: 'Kalam', cursive,  Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}